<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sekim.citroscanner">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 네트워크 권한 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 카메라 권한 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CitroScanner">
        <activity android:name=".Activty.UserInfo.UserInfoActivity"></activity>
        <activity android:name=".Activty.Splash.SplashActivity" />
        <activity android:name=".Activty.Settings.SettingsActivity" />
        <activity android:name=".Activty.Scanner.ScannerActivity" />
        <activity android:name=".Activty.Login.LoginActivity" />
        <activity android:name=".Activty.Home.HomeActivity" />
        <activity android:name=".Activty.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>